{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_block %}


<section class="container-fluid py-5">
    <div class="row">
        
        <div class="text-center text-white p-3 fs-5" style="background-color: #FF740B;">
            <div>Order List</div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3 text-center border-end"> 
                <p class="text-gray">Total Order:</p>
                <p class="fw-bold">2</p>
            </div>
            <div class="col-md-3 text-center border-end"> 
                <p class="text-gray">Pending Order</p>
                <p class="fw-bold">1205</p>
            </div>
            <div class="col-md-3 text-center border-end"> 
                <p class="text-gray">Complete Order</p>
                <p class="fw-bold">1205</p>
            </div>
            <div class="col-md-3 text-center border-end"> 
                <p class="text-gray">Canceled Order</p>
                <p class="fw-bold">1205</p>
            </div>
        </div>

        <div class="mt-5">
            <p class="fs-5 fw-bold">Order Details</p>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="p-4" scope="col">Order Id</th>
                        <th class="p-4" scope="col">Product</th>
                        <th class="p-4" scope="col">Price</th>
                        <th class="p-4" scope="col">Status</th>
                        <th class="p-4" scope="col">Order Date</th>
                        <th class="p-4" scope="col">Phone</th>
                        <th class="p-4" scope="col">Change Status</th>
                    </tr>
                </thead>
                <tbody id="orderBody">
                    {% for item in data.ret_data %}
                    <tr >
                        <td class="p-4 fw-light">{{item.order_id}}</td>
                        <!-- <td class="p-4 fw-light">{{item.product_name}} <span class="">&#215;</span> {{item.quantity}}</td> -->
                        <td class="p-4 fw-light" style="min-width: 300px !important;">
                        {% for item2 in item.order_details %}
                            <ul>
                                <li>{{item2.product_name}}</li>
                            </ul>
                        {% endfor %}
                        </td>
                        <td class="p-4 fw-bold">{{item.total_price}}</td>
                        <td class="p-4 fw-bold">
                            {% if item.status == 1 %}
                                pending
                            {% elif item.status == 2 %}
                                ongoing
                            {% elif item.status == 3 %}
                                completed
                            {% elif item.status == 4 %}
                                canceled
                            {% endif %}
                        </td>
                        <td class="p-4 fw-light" style="min-width: 200px !important;">{{item.created_date}}</td>
                        <td class="p-4 fw-light" style="min-width: 200px !important;">{{item.phone}}</td>
                        <td class="p-4" style="min-width: 250px !important;">
                            <form id="orderStatusForm{{item.order_id}}" class="d-flex">
                                {% csrf_token %}
                                <select id="orderStatusSelectData{{item.order_id}}" name="status" class="form-select " aria-label="Default select example">
                                    <option selected="true" disabled="disabled" value="0">Change Status</option>
                                    <option value="1">Pending</option>
                                    <option value="2">Ongoing</option>
                                    <option value="3">Complete</option>
                                    <option value="4">Canceled</option>
                                </select>
                                <input type="button"  onclick="statusUpdate('{{item.order_id}}')" value="Apply" />
                                <!-- <button class="orderStatusBtn" onclick="GetSelectedTextValue()" class="">Apply</button> -->
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>


</section>
{% endblock %}



{% block script_block %}

<script src="{% static 'js/adminOrder.js' %}"></script>

{% endblock %}